/* src/components/About.css */
.about-section {
  background-color: #f9f9f9;
  border-radius: 15px;
}

.about-section h2,
.about-section h4 {
  color: #333;
}

.about-section p {
  color: #555;
  line-height: 1.6;
}

.about-section .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section .col-md-8 {
  padding-left: 30px;
}

.about-section .fab {
  color: #646cff;
  transition: transform 0.3s;
}

.about-section .fab:hover {
  transform: scale(1.1);
}
